<div class="footer bg-secondary">
  <div class="container">
    <div class="footer__main">
      <div class="footer__main-row row">
        {% for section in footer.menu %}
          <div class="footer__menu col-xs-6 col-md-3">
            <div class="footer__menu-title">{{ section.title }}</div>
            <ul class="footer__menu-list">
              {% for item in section.list %}
                <li class="footer__menu-item">
                  <a href="#" class="footer__menu-link">{{ item }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
        <div class="footer__menu col-xs-6 col-md-3">
          <div class="footer__menu-title">Contact Us</div>
          <ul class="footer__menu-list">
            {% for phone in company.phones %}
              <li class="footer__menu-item">
                <a href="{{ phone.link }}" class="footer__menu-link">{{ phone.number }}</a>
              </li>
            {% endfor %}
            <li class="footer__menu-item">
              <a href="mailto:{{ company.email }}" class="footer__menu-link">{{ company.email }}</a>
            </li>
          </ul>

          <div class="footer__menu footer__social social hidden-md-down">
            <div class="footer__menu-title">Find us on social</div>
            <ul class="{{ socialClass}} social__list row">
              {% for item in company.social %}
                <li class="social__item col">
                  <a href="#" class="footer__link social__link icon-{{ item.icon }}" title="{{ item.title }}"></a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>

      <div class="footer__menu footer__social social hidden-lg-up">
        <div class="footer__menu-title">Find us on social</div>
        <ul class="{{ socialClass}} social__list row">
          {% for item in company.social %}
            <li class="social__item col">
              <a href="#" class="footer__menu-link social__link icon-{{ item.icon }}" title="{{ item.title }}"></a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="footer__bottom">
      <a href="index.html" class="footer__logo">
        <img src="./assets/img/xomio-logo-white.svg" alt="{{ company.name }} logo" class="footer__logo-img">
      </a>

      <ul class="footer__links">
        {% for item in footer.links %}
          <li class="footer__links-item">
            <a href="#" class="footer__links-link">{{ item }}</a>
          </li>
        {% endfor %}
      </ul>

      <div class="footer__copyright">{{ company.copyright }}</div>
    </div>
  </div>
</div>