<div class="head">
    <div class="wrapper">
        <div class="block-left">
            <a href="./index.html" class="logo"><img src="./assets/img/images/logo.svg" /></a>
            <div class="headmenu">
              {% for item in nav %}
                <a href="{{ item.link }}">{{ item.name }}</a>
              {% endfor %}
            </div>
        </div>
        <div class="block-right">
            <div class="langlist">
              <div class="dropdown" data-component="dropdown" data-type="code">
                <button class="dropdown__toggle text-secondary" data-element="dropdown-toggle" data-template='dropdown-content-lang'>
                  {% for option in langs|slice(0,1) %}
                    <span class="dropdown__toggle-text" data-element="dropdown-toggle-text">{{ option.code }}</span>
                  {% endfor %}
                </button>

                <div style="display: none;">
                  <div id="dropdown-content-lang">
                    <div class="dropdown__content" data-element="dropdown-content" data-id="dropdown-content-lang">
                      <ul class="dropdown__list">
                        {% for option in langs %}
                          <li class="dropdown__option {% if loop.first %}is-selected{% endif %}" data-element="dropdown-option" data-id="{{ option.code }}">{{ option.name }}</li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a href="#" class="btn outline">Sign up</a>
            <a href="#" class="btn">Log in</a>
        </div>
        <div class="burger"><div></div></div>
    </div>
    <div class="mobmenu">
        <div class="headmenu">
            <a href="#"><img src="./assets/img/images/menu/icon1.svg" /> How it works</a>
            <a href="#"><img src="./assets/img/images/menu/icon2.svg" /> Features</a>
            <a href="#"><img src="./assets/img/images/menu/icon3.svg" /> IDX</a>
            <a href="#"><img src="./assets/img/images/menu/icon4.svg" /> GLEX</a>
            <a href="#"><img src="./assets/img/images/menu/icon5.svg" /> Pricing</a>
            <a href="#"><img src="./assets/img/images/menu/icon6.svg" /> Partners</a>
            <a href="#"><img src="./assets/img/images/menu/icon7.svg" /> About us</a>
        </div>
        <div class="langlist">
            <a href="#" class="cur"><img src="./assets/img/images/lang.png" /><span>English</span></a>
            <div class="list">
                <a href="#">Eng</a>
                <a href="#">Ru</a>
            </div>
        </div>
        <div class="buttons">
            <a href="#" class="btn outline">Sign up</a>
            <a href="#" class="btn">Log in</a>
        </div>
    </div>
</div>