{% extends 'layout/_base.twig' %}

{% set pageClass = 'page-how-it-works' %}
{% set pageTitle = 'How it works' %}

{% block content %}
  <div class="overflow-container">

    <!-- Intro 1 -->
    <section class="section intro-1">
      <div class="container container--mobile-fixed">
        <div class="section__header intro text-md-center">
          <h2 class="intro__title">Beautiful websites that deliver more leads</h2>
          <h3 class="intro__subtitle">Ready to launch in just a few clicks</h3>
          <div class="intro__description">
            <p>
              Build your website from beautifully designed, customizable blocks. <br>
              With just a few clicks, you can create a look and feel that turns visitors into clients.
            </p>
          </div>
        </div>

        <div class="section__object">
          <img srcset="./assets/img/how-it-works/intro.png 1x, ./assets/img/how-it-works/intro@2x.png 2x" src="./assets/img/how-it-works/intro.png" alt="" class="section__img">
        </div>
      </div>
      <div class="decor decor--1 decor-dots-1 hidden-lg-down"></div>
      <div class="decor decor--2 decor-lines-1 hidden-lg-down"></div>
      <div class="decor decor--3 decor-lines-9"></div>
    </section>

    <!-- Intro 2 -->
    <section class="section intro-2" data-component="tabs">
      <div class="container container--mobile-fixed">
        <div class="section__header intro intro--sm text-md-center">
          <h2 class="section__title">A great experience for&nbsp;you and your clients</h2>
        </div>
        <ul class="section__tabs tabs__list row">
          {% for tab in howItWorks.tabs %}
            {% set tabId = tab.name|lower|replace({' ': '-'}) %}
            <li class="tabs__item col">
              <a href="#{{ tabId }}" class="tabs__link {% if loop.first %}is-active{% endif %}" data-element="tabs-toggle">{{ tab.name }}</a>
            </li>
          {% endfor %}
        </ul>

        <div class="section__tabs-content tabs__content">
          {% for tab in howItWorks.tabs %}
            {% set tabId = tab.name|lower|replace({' ': '-'}) %}
            <div class="tabs__tab {% if loop.first %}is-active{% endif %}" role="tabpanel" data-id="{{ tabId }}" data-element="tabs-tab" data-slider-parent>
              <div class="section__body section__body--center">
                <div class="section__content">
                  <ul class="steps">
                    {% for step in tab.steps %}
                      <li class="steps__item step" data-slick-index="{{ loop.index - 1 }}">
                        <h3 class="step__title">{{ step.title }}</h3>
                        <div class="step__description">
                          <p>{{ step.description }}</p>
                        </div>
                        <div class="step__object section__template section__template--shadow hidden-lg-up">
                          <img srcset="./assets/img/{{ step.image }}.png 1x, ./assets/img/{{ step.image }}@2x.png 2x" src="./assets/img/{{ step.image }}.png" alt="" class="section__img">
                        </div>
                        <span class="steps__item-progress" data-element="tab-progress"></span>
                      </li>
                    {% endfor %}
                  </ul>
                </div>

                <div class="section__object hidden-md-down" data-slider="tab">
                  {% for step in tab.steps %}
                    <div class="section__template section__template--shadow slick-slide">
                      <img srcset="./assets/img/{{ step.image }}.png 1x, ./assets/img/{{ step.image }}@2x.png 2x" src="./assets/img{{ step.image }}.png" alt="" class="section__img">
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="decor decor--4 decor-complex-6"></div>
    </section>

    <!-- feature-7 -->
    <section class="section feature-7">
      <div class="container container--mobile-fixed">
        <div class="section__content">
          <h2 class="section__title">Our listings translation delivers more leads</h2>
        </div>
        <div class="section__body">
          <div class="section__content section__content--lg">
            <h3 class="section__subtitle">How it works:</h3>
            <div class="section__text">
              <ul class="list-plus" data-component="accordion">
                {% for item in howItWorks.workflow %}
                  <li class="collapsible is-collapsed" data-element="accordion-item">
                    <div class="collapsible__toggle text-lg" data-element="accordion-toggle">{{ item.title }}</div>
                    <div class="collapsible__content" data-element="accordion-content">
                      <div class="collapsible__body">
                        {{ item.text }}
                      </div>
                    </div>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>

          <div class="section__object">
            <div class="section__video">
              <video muted playsinline autoplay loop>
                <source src="./assets/video/1_xomio_h264_cbr.mp4" type="video/mp4" />
                <p>Your browser doesn't support HTML5 video. Here is a <a href="./assets/video/1_xomio_h264_cbr.mp4">link to the video</a> instead.</p>
              </video>
            </div>
          </div>
        </div>
      </div>
      <div class="decor decor--5 decor-lines-8"></div>
    </section>
  </div>

  <!-- feature-6 -->
  <section class="section feature-6">
    <div class="container container--mobile-fixed">
      <h2 class="section__title">Bring your ideas to life</h2>
      <div class="section__body">
        <div class="section__content">
          <ul class="section__features features">
            {% for feature in howItWorks.features %}
              <li class="features__item">
                <div class="feature">
                  {{ svg.icon(feature.icon, 'feature__icon theme-icon-'~feature.theme) }}
                  <h3 class="feature__title">{{ feature.title }}</h3>
                  <p class="feature__text text-lg">{{ feature.text }}</p>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>

        <div class="section__object is-sticky">
          <div class="section__video">
            <video muted playsinline autoplay loop>
              <source src="./assets/video/1_xomio_h264_cbr.mp4" type="video/mp4" />
              <p>Your browser doesn't support HTML5 video. Here is a <a href="./assets/video/1_xomio_h264_cbr.mp4">link to the video</a> instead.</p>
            </video>
          </div>
        </div>
      </div>
    </div>
    <div class="decor decor--6 decor-shape-3"></div>
  </section>
{% endblock %}

{% block modals %}
{% endblock %}