{% extends 'layout/_base.twig' %}

{% block styles %}
  <link rel="stylesheet" href="./assets/css/home.css?123456">
{% endblock %}

{% set bodyClass = 'page-home' %}

{% block content %}
  <div data-page="fullpage">
    <div class="section home-1" data-fullpage="section">
      {% for slide in home|first.slides|slice(0,3) %}
        <div class="slide" data-fullpage="slide">
          <div class="container container--mobile-fixed">
            <div class="section__content section__content--lg">
              <h2 class="section__title h1">{{ slide.title }} <span data-element="typewriter" data-word="{{ slide.type }}"></span></h2>
            </div>
            <div class="section__body">
              <div class="section__content section__content--lg">
                <div class="section__description ">
                  <ul class="list-plus" data-component="accordion">
                    {% for item in slide.list %}
                      <li class="collapsible is-collapsed" data-element="accordion-item">
                        <div class="collapsible__toggle text-lg" data-element="accordion-toggle">{{ item.title }}</div>
                        <div class="collapsible__content" data-element="accordion-content">
                          <div class="collapsible__body">
                            {{ item.text }}
                          </div>
                        </div>
                      </li>
                    {% endfor %}
                  </ul>
                </div>

                <div class="section__action">
                  <a href="#" class="button button--primary">Get started</a>
                </div>
              </div>

              <div class="section__object">
                <div class="section__template section__template--shadow">
                  {% if slide.video %}
                    <div class="section__video section__video--default">
                      <video muted playsinline loop data-autoplay>
                        <source src="./assets/video/{{ slide.video }}" type="video/mp4" />
                        <p>Your browser doesn't support HTML5 video. Here is a <a href="./assets/video/1_xomio_h264_cbr.mp4">link to the video</a> instead.</p>
                      </video>
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      <div class="section__decor section__decor--1 decor-shape-4">
        <div class="section__decor section__decor--2 decor-lines-9"></div>
      </div>
      <div class="section__decor section__decor--3 hidden-lg-down decor-lines-1"></div>
      <div class="section__decor section__decor--4 hidden-lg-down decor-dots-1"></div>
    </div>

    <div class="section tags" data-fullpage="section">
      <div class="container">
        <div class="intro text-center">
          <h2 class="intro__title">We know you want it</h2>
        </div>

        <ul class="tags__list">
          {% for section in home|slice(2,1) %}
            {% for item in section.tags %}
              <li class="tags__item" data-element="tag-item">
                <div class="tag tag-{{ item.theme }}" data-element="tag">
                  <a href="#" class="tag__link" data-element="tag-toggle"><i class="tag__link-icon icon-plus"></i> {{ item.name }}</a>
                  <div class="tag__popover">
                    <div class="tag__popover-bg" data-element="tag-popover-bg"></div>
                    <div class="tag__popover-body">
                      <p class="tag__popover-text">{{ item.text }}</p>
                      <p class="tag__popover-action">
                        <a href="#" class="tag__popover-more more" data-element="tags-popup-trigger" data-id="{{ loop.index }}">Learn more <i class="more__icon icon-arrow-right"></i></a>
                      </p>
                    </div>
                  </div>
                </div>
              </li>
            {% endfor %}
          {% endfor %}
        </ul>

        <div class="tags__action hidden-xl-up">
          <button class="tags__action-button button button--outline-primary" data-element="show-more-toggle" data-text-on="Show more" data-text-off="Show less">Show more</button>
        </div>
      </div>
    </div>

    <div class="section home-4" data-fullpage="section">
      {% for section in home|slice(3,1) %}
        {% for slide in section.slides %}
          <div class="slide" data-fullpage="slide">
            <div class="container container--mobile-fixed">
              <div class="section__content">
                <h2 class="section__title">{{ slide.title }}</h2>
              </div>
              <div class="section__body section__body--center">
                <div class="section__content">
                  <h3 class="section__subtitle">{{ slide.subtitle }}</h3>
                  <div class="section__description ">
                    {% for text in slide.text %}
                      <p>{{ text }}</p>
                    {% endfor %}
                  </div>

                  <div class="section__action">
                    <a href="#" class="button button--primary">Get started</a>
                  </div>
                </div>

                <div class="section__object">
                  <div class="section__template section__template--shadow">
                    {% if slide.video %}
                      <div class="section__video {% if slide.videoClass %} {{ slide.videoClass }} {% else %} section__video--default {% endif %}">
                        <video muted playsinline loop data-autoplay>
                          <source src="./assets/video/{{ slide.video }}" type="video/mp4" />
                          <p>Your browser doesn't support HTML5 video. Here is a <a href="./assets/video/1_xomio_h264_cbr.mp4">link to the video</a> instead.</p>
                        </video>
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endfor %}
      <div class="section__decor decor-lines-9 hidden-lg-down"></div>
    </div>

    <div class="bl2 section" data-fullpage="section">
      <div class="container">
        <h2 class="title">Whatever language or device your clients are using</h2>
        <div class="subtitle">If they’re <span>looking</span>, they’ll <span>find</span> you.</div>
        <div class="bl2inner">
          <div class="bl2left">
            <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_tkorcb6g.json" background="transparent" speed="1" style="width: 100%; height: auto;" loop data-autoplay></lottie-player>
          </div>
          <div class="bl2left-mobile">
            <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_vgroulgj.json" background="transparent" speed="1" style="width: 100%; height: auto;" loop data-autoplay></lottie-player>
          </div>
          <div class="bl2right">
            <div class="bl2list">
              <div class="bl2item"><img src="./assets/img/images/block2.png" alt=""></div>
              <div class="bl2item"><img src="./assets/img/images/block21.png" alt=""></div>
              <div class="bl2item"><img src="./assets/img/images/block22.png" alt=""></div>
              <div class="bl2item bl2hintwrap">
                <div class="bl2hint">
                  Your site, in 19 languages, indexed on all major search engines, accessible from any device.
                  <img src="./assets/img/images/sentence.svg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="section test bg-blue bl5">
    <div class="container">
      <div class="section__decor section__decor--1 decor-complex-1"></div>
      <div class="section__decor section__decor--2 decor-shape-5">
        <div class="section__decor section__decor--3 decor-dots-6"></div>
      </div>
      <h2 class="test__title">Find the right fit for you</h2>
      <div class="test__start">
        <button class="test__button button button--primary button--huge gofirst" data-element="start-button">Start</button>
      </div>

      <div class="test-wrap">
        <div class="step-block " data-id="0" data-goto="11">
          <div class="vert-line"></div>
          <div class="step-label"><div>Welcome!</div></div>
        </div>
        <div class="step-block step-variants" data-id="11">
          <div class="vert-line"></div>
          <div class="step-label"><div>What best describes your business?</div></div>
          <div class="variants-wrap">
            <div class="variants">
              <div class="variant" data-id="1"><div class="text"><span>Agent</span></div><div class="end"></div><div class="start"></div></div>
              <div class="variant" data-id="1" ><div class="text"><span>Team</span></div><div class="end"></div><div class="start"></div></div>
              <div class="variant" data-id="1" ><div class="text"><span>Brokerage</span></div><div class="end"></div><div class="start"></div></div>
              <div class="variant" data-id="1" ><div class="text"><span>MLS</span></div><div class="end"></div><div class="start"></div></div>
              <div class="variant" data-id="1" ><div class="text"><span>Brand</span></div><div class="end"></div><div class="start"></div></div>
              <div class="variant" data-id="7" ><div class="text"><span>Portal</span></div><div class="end"></div><div class="start"></div></div>
            </div>
            <div class="vars-line"></div>
            <div class="ans-line"></div>
          </div>
        </div>
        <div class="step-block step-dialog" data-id="1">
          <div class="vert-line"></div>
          <div class="step-label"><div>Do you already have a website?</div></div>
          <div class="ans yes" data-id="21">
            <div class="ans-wrap">
              <div class="ans-btn">
                <svg width="88" height="88" viewBox="0 0 88 88" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.80858 28.4433C0.721213 37.3436 -2.23814 46.8302 2.09109 56.8305C18.1532 93.7215 64.9224 100.556 83.8131 62.7212C88.6025 53.1174 89.8783 42.1456 84.4719 32.6143C79.0656 23.0831 69.9784 14.2665 61.733 7.62201C53.4876 0.977498 44.071 -1.93715 34.095 1.36835C21.9595 5.40531 12.1979 17.2593 5.80858 28.4433Z" fill="#EF8683"/>
                </svg>
                <span>Yes</span>
              </div>
            </div>
          </div>
          <div class="ans no" data-id="2">
            <div class="ans-wrap">
              <div class="ans-btn">
                <svg width="88" height="88" viewBox="0 0 88 88" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.80858 28.4433C0.721213 37.3436 -2.23814 46.8302 2.09109 56.8305C18.1532 93.7215 64.9224 100.556 83.8131 62.7212C88.6025 53.1174 89.8783 42.1456 84.4719 32.6143C79.0656 23.0831 69.9784 14.2665 61.733 7.62201C53.4876 0.977498 44.071 -1.93715 34.095 1.36835C21.9595 5.40531 12.1979 17.2593 5.80858 28.4433Z" fill="#EF8683"/>
                </svg>
                <span>No</span>
              </div>
            </div>
          </div>
        </div>

        <div class="step-block step-dialog" data-id="21">
          <div class="vert-line"></div>
          <div class="step-label"><div>Are you looking to replace your website?</div></div>
          <div class="ans yes" data-id="22">
            <div class="ans-wrap">
              <div class="ans-btn">
                <svg width="88" height="88" viewBox="0 0 88 88" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.80858 28.4433C0.721213 37.3436 -2.23814 46.8302 2.09109 56.8305C18.1532 93.7215 64.9224 100.556 83.8131 62.7212C88.6025 53.1174 89.8783 42.1456 84.4719 32.6143C79.0656 23.0831 69.9784 14.2665 61.733 7.62201C53.4876 0.977498 44.071 -1.93715 34.095 1.36835C21.9595 5.40531 12.1979 17.2593 5.80858 28.4433Z" fill="#EF8683"/>
                </svg>
                <span>Yes</span>
              </div>
            </div>
          </div>
          <div class="ans no" data-id="23">
            <div class="ans-wrap">
              <div class="ans-btn">
                <svg width="88" height="88" viewBox="0 0 88 88" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.80858 28.4433C0.721213 37.3436 -2.23814 46.8302 2.09109 56.8305C18.1532 93.7215 64.9224 100.556 83.8131 62.7212C88.6025 53.1174 89.8783 42.1456 84.4719 32.6143C79.0656 23.0831 69.9784 14.2665 61.733 7.62201C53.4876 0.977498 44.071 -1.93715 34.095 1.36835C21.9595 5.40531 12.1979 17.2593 5.80858 28.4433Z" fill="#EF8683"/>
                </svg>
                <span>No</span>
              </div>
            </div>
          </div>
        </div>
                
        <div class="step-block step-variants" data-id="23">
          <div class="vert-line"></div>
          <div class="step-label"><div>What are your plans?</div></div>
          <div class="variants-wrap">
            <div class="variants">
              <div class="variant" data-id="2"><div class="text"><span>I want to add GLEX to my existing website</span></div><div class="end"></div><div class="start"></div></div>
              <div class="variant" data-id="2"><div class="text"><span>I want to add Mutli-Language IDX to my existing website</span></div><div class="end"></div><div class="start"></div></div>
            </div>
            <div class="vars-line"></div>
            <div class="ans-line"></div>
          </div>
        </div>
                
        <div class="step-block step-variants" data-id="2">
          <div class="vert-line"></div>
          <div class="step-label"><div>Are you a member of our partner MLS organizations?</div></div>
          <div class="variants-wrap">
            <div class="variants">
              <div class="variant" data-id="6"><div class="text"><span>Answer 1</span></div><div class="end"></div><div class="start"></div></div>
              <div class="variant" data-id="6"><div class="text"><span>Answer 3</span></div><div class="end"></div><div class="start"></div></div>
              <div class="variant" data-id="6"><div class="text"><span>Answer 2</span></div><div class="end"></div><div class="start"></div></div>
              <div class="variant" data-id="6"><div class="text"><span>Do not belong to any of these</span></div><div class="end"></div><div class="start"></div></div>
              <div class="variant" data-id="6"><div class="text"><span>Answer 3</span></div><div class="end"></div><div class="start"></div></div>
            </div>
            <div class="vars-line"></div>
            <div class="ans-line"></div>
          </div>
        </div>
        <div class="step-block " data-id="71" data-goto="72">
          <div class="vert-line"></div>
          <div class="step-label bigtext"><div>
            <p>Coming soon!</p>
            Xomio for Portals is launching soon — be the first to find out when it’s available by signing up for updates.
          </div></div>
        </div>
        <div class="step-block " data-id="6" data-goto="61">
          <div class="vert-line"></div>
          <div class="step-label bigtext"><div>
            <p>Coming soon!</p>
            Xomio for Teams is launching soon — be the first to find out when it’s available by signing up for updates.
          </div></div>
        </div>
        <div class="step-block " data-id="61" data-goto="5">
          <div class="vert-line"></div>
          <div class="step-label round"><div>violet.e.realtor@gmail.com</div></div>
        </div>
        <div class="step-block step-variants" data-id="4">
          <div class="vert-line"></div>
          <div class="step-label"><div>Are you member of our partner brands?</div></div>
          <div class="variants-wrap">
            <div class="variants">
              <div class="variant" data-id="5"><div class="text"><span>Answer 1</span></div><div class="end"></div><div class="start"></div></div>
              <div class="variant" data-id="5"><div class="text"><span>Answer 3</span></div><div class="end"></div><div class="start"></div></div>
              <div class="variant" data-id="5"><div class="text"><span>Answer 2</span></div><div class="end"></div><div class="start"></div></div>
              <div class="variant" data-id="5"><div class="text"><span>Do not belong to any of these</span></div><div class="end"></div><div class="start"></div></div>
              <div class="variant" data-id="5"><div class="text"><span>Answer 3</span></div><div class="end"></div><div class="start"></div></div>
            </div>
            <div class="vars-line"></div>
            <div class="ans-line"></div>
          </div>
        </div>
        <div class="step-block " data-id="72">
          <div class="vert-line"></div>
          <div class="step-label bigtext"><div>
            <p>Coming soon!</p>
            Xomio for Portals is launching soon — be the first to find out when it’s available by signing up for updates.
          </div></div>
        </div>
        <div class="step-block step-final" data-id="5">
          <div class="vert-line"></div>
          <div class="test__start">
            <button class="test__button button button--primary button--huge">Go!</button>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block modals %}
  {% include 'partials/_tags-popup.twig' %}
{% endblock %}

{% block scripts %}
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  <script src="https://code.jquery.com/pep/0.4.3/pep.js"></script>
{% endblock %}