<div class="tags-popup" data-component="tags-popup">
  <button class="tags-popup__close" data-element="tags-popup-close" title="Close"></button>

  <div class="tags-popup__slider" data-slider="tags">
    {% for section in home|slice(2,1) %}
      {% for item in section.tags if item.popup %}
        <div class="tags-popup__slide section tag-slide slick-slide theme-tag-{{ item.theme }}" data-arrow-color="{{ item.arrowColor }}" data-id="{{ item.id }}">
          <div class="container container--mobile-fixed">
            <div class="section__body section__body--center">
              <div class="section__content">
                <h2 class="section__title">
                  {{ item.name }}
                  {% if item.nameIcon %}
                    {{ svg.icon(item.nameIcon, 'section__title-icon') }}
                  {% endif %}
                </h2>
                {% if item.popup %}
                  {% if item.popup.subtitle %}
                    <h3 class="section__subtitle">{{ item.popup.subtitle  }}</h3>
                  {% endif %}
                  <div class="section__text text-lg">
                    {% if item.popup.list %}
                      <ul class="list-flake">
                        {% for li in item.popup.list  %}
                          <li>{{ li }}</li>
                        {% endfor %}
                      </ul>
                    {% endif %}

                    {% if item.popup.text %}
                      {% for text in item.popup.text  %}
                        <p>{{ text }}</p>
                      {% endfor %}
                    {% endif %}
                  </div>
                {% endif %}
              </div>

              <div class="section__object">
                {% if item.popup.image == true %}
                  <img srcset="./assets/img/tags/{{ item.id }}.png 1x, ./assets/img/tags/{{ item.id }}@2x.png 2x" src="./assets/img/tags/{{ item.id }}.png" alt="" class="section__img {% if item.popup.filter %}section__img--filter{% endif %}">
                  {% else %}
                  {% if item.popup.imageType == 'svg' %}
                    <img src="./assets/img/tags/{{ item.popup.image }}.svg" alt="" class="section__img {% if item.popup.filter %}section__img--filter{% endif %}">
                    {% else %}
                    <img srcset="./assets/img/tags/{{ item.popup.image }}.png 1x, ./assets/img/tags/{{ item.popup.image }}@2x.png 2x" src="./assets/img/tags/{{ item.popup.image }}.png" alt="" class="section__img {% if item.popup.filter %}section__img--filter{% endif %}">
                  {% endif %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    {% endfor %}
  </div>
</div>